#ignore
venv/

__pycache__/
*.pyc
model/__pycache__/
model/model.h5
#model/model-weights.h5
#model/model.json
model/old_models/*
model/test_resize.py

data/
uploaded_images/*.png
uploaded_images/*.jpg
uploaded_images/*.jpeg
requirements-2.txt

notebooks/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/

tests/__pycache__/

.DS_Store

# keep
!uploaded_images/.gitkeep